{% extends 'base.html.twig' %}

{% block title %}Social Intranet{% endblock %}

{% block body %}
<div class="card text-bg-light mb-3">
  
  <div class="card-body">
    <h5 class="card-title">Mario Valdivia</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

{% endblock %}
